.main{
    padding:20px;
    display:grid;
    grid-template-columns: 60% 40%;
}

.desc{
    padding-right: 10px;
    text-align: justify;
}


.info{
    margin-bottom:10px; 
}

.container{
    display: flex;
    justify-content: center;
}

.logo{
    width:50%;
}