.display{
    width:80%;
    margin:10px auto;
    display: flex;
    justify-content: space-between;
    padding:20px;
    background-color: #ECEFF1;
}

.display >div:nth-child(2){
    width:20%;
}

.display a{
    color:black;
    text-decoration: none;
}

.display a:hover{
    color:#3F51B5;
}